<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>These are my pages</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">My Site</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    {% block page_content %}
    {% endblock %}

</body>
</html>